*.o
*.lo
*.la
stamp-h1
vendor/id3lib-3.8.3/Makefile
vendor/id3lib-3.8.3/config.h
vendor/id3lib-3.8.3/config.log
vendor/id3lib-3.8.3/config.status
vendor/id3lib-3.8.3/doc/Makefile
vendor/id3lib-3.8.3/examples/.deps/
vendor/id3lib-3.8.3/examples/.libs/
vendor/id3lib-3.8.3/examples/Makefile
vendor/id3lib-3.8.3/examples/id3convert
vendor/id3lib-3.8.3/examples/id3cp
vendor/id3lib-3.8.3/examples/id3info
vendor/id3lib-3.8.3/examples/id3tag
vendor/id3lib-3.8.3/id3com/Makefile
vendor/id3lib-3.8.3/id3com/Sample/Makefile
vendor/id3lib-3.8.3/include/Makefile
vendor/id3lib-3.8.3/include/id3/Makefile
vendor/id3lib-3.8.3/libprj/Makefile
vendor/id3lib-3.8.3/libtool
vendor/id3lib-3.8.3/m4/Makefile
vendor/id3lib-3.8.3/prj/Makefile
vendor/id3lib-3.8.3/src/.deps/
vendor/id3lib-3.8.3/src/.libs/
vendor/id3lib-3.8.3/src/Makefile
vendor/id3lib-3.8.3/zlib/Makefile
vendor/id3lib-3.8.3/zlib/config.h
vendor/id3lib-3.8.3/zlib/config.log
vendor/id3lib-3.8.3/zlib/config.status
vendor/id3lib-3.8.3/zlib/include/Makefile
vendor/id3lib-3.8.3/zlib/lib/Makefile
vendor/id3lib-3.8.3/zlib/libtool
vendor/id3lib-3.8.3/zlib/prj/Makefile
vendor/id3lib-3.8.3/zlib/src/.deps/
vendor/id3lib-3.8.3/zlib/src/Makefile
node_addons/TsId3Reader/build/
node_addons/TsStitcher/build/
