user_input.SERVICE_URL = @SERVICE_URL@
user_input.PLAY_PARTNER_ADMIN_SECRET = @PLAY_PARTNER_ADMIN_SECRET@
user_input.CLOUD_HOSTNAME = @CLOUD_HOSTNAME@
user_input.CLOUD_SECRET = @CLOUD_SECRET@
user_input.CLOUD_SHARED_BASE_PATH = @CLOUD_SHARED_BASE_PATH@
user_input.LOG_DIR = @LOG_DIR@
user_input.MEMCACHE_HOST = @MEMCACHE_HOST@
user_input.PLAY_SERVER_BASE_DIR = @PLAY_SERVER_BASE_DIR@
